<h1> Edit Employee </h1>
<% if flash[:errors] %>
    <% flash[:errors] do |message| %>
        <p> <%= message %> </p> 
    <% end %>
<% end %>    

<%= form_for @employee do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :dog_id %>
    <%= f.collection_select :dog_id, Dog.all, :id, :name %>
    <%= f.label :alias %>
    <%= f.text_field :alias %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :office %>
    <%= f.text_field :office %>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
    <%= f.submit %>

<% end %>  