<h1> <%= @employee.print_name %> </h1>

<p> dog: <%= @employee.dog.name %> </p>
<p> alias: <%= @employee.alias %> </p>
<p> title: <%= @employee.title %> </p>
<p> office: <%= @employee.office %> </p>

<%= image_tag(@employee.img_url) %>


